scratch
.vscode
trial
trial.c
.vscode
0x12-singly_linked_lists/*main.c
0x13-more_singly_linked_lists/*main.c
0x14-bit_manipulation/*main.c
0x15-file_io/*main.c
.vscode/*
cmake-build-debug/*
.clang-format
.idea/*
build/*
*/trial

0x18-dynamic_libraries/dynamic/
0x08-recursion/101-main.c
0x06-pointers_arrays_strings/103-add
0x06-pointers_arrays_strings/103-infinite_add
0x1E-search_algorithms/0-linear
0x1E-search_algorithms/1-binary
0x1E-search_algorithms/100-jump
0x1E-search_algorithms/*main.c
0x1E-search_algorithms/103-exponential
0x1E-search_algorithms/listint/
0x1E-search_algorithms/105-jump
0x1E-search_algorithms/105-jump_list
0x1E-search_algorithms/skiplist/
