scratch
.vscode
trial
trial.c
.vscode
0x12-singly_linked_lists/*main.c
0x13-more_singly_linked_lists/*main.c
0x14-bit_manipulation/*main.c
0x15-file_io/*main.c
.vscode/*
cmake-build-debug/*
.clang-format
.idea/*
build/*
*/trial

0x18-dynamic_libraries/dynamic/
